<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">For a more interactive classroom experience!</h2>
                <hr class="light">
                <p class="text-faded">Class participation has never been more interactive and rewarding. Battle against your peers to reach at the top of the class leaderboard. Pulse is everything that "iClicker Questions" are not; you don't even need to invest in a "iClicker" device. Ask you teacher to enroll in Pulse today!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>