<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>PulseApp</h1>
            <hr>
            <p>Pulse is an all in one mobile solution to competitive classroom participation. </p>
            <p>Pulse allows a teacher to create a virtual “class”, add their students, and create sets of questions and answers for their students to answer in real time.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>



